{% extends 'main/base.html' %}

{% block body_block %}
<div class="container" style="padding: 100px 0;font-size: 1.1em;">


GET VARS: {{ getVars }}
<br/><br/>
<b>{{location}}</b>
<br/><br/>
{{rest}}<br/>
<br/>
<br/>
{% for r in rest %}
NAME: {{r.name}}<br/>
NUMBER: {{r.phone_number}}<br/>
ADDRESS: {{r.address}}<br/>
OVERALL: {{r.avg_overall}}<br/>
NUTS: {{r.avg_nuts}}<br/>
GLUTEN: {{r.avg_gluten}}<br/>
VEG: {{r.avg_veg}}<br/>
VEGAN: {{r.avg_vegan}}<br/>
DAIRY: {{r.avg_dairy}}<br/>
COORDS: {{r.coords}}<br/>
TEST: {{r.test}}
<br/><br/>

{% endfor %}

<br/><br/>

{% for rev in reviews %}
	TITLE: {{ rev.restaurant }}<br/>
	NUTS: {{ rev.nuts_rating }}<br/>
	GLUTEN: {{ rev.gluten_rating }}<br/>
	VEG: {{ rev.vegetarian_rating }}<br/>
	VEGAN: {{ rev.vegan_rating }}<br/>
	DAIRY: {{ rev.dairy_rating }}<br/><br/>
{% endfor %}


</div>

<script type="text/javascript">
var restArray = [

{% for r in rest %}
{
	name:    {{ r.name }},
	overall: {{ r.avg_overall }},
	address: {{ r.address }},
	nuts:    {{r.avg_nuts}},
	gluten:  {{r.avg_gluten}},
	veg:     {{r.avg_veg}},
	vegan:   {{r.avg_vegan}},
	dairy:   {{r.avg_dairy}},
	coords:  {{ r.coords }}
},
{% endfor %}

]
</script>

{% endblock body_block %}

