/////////////////
//   IMPORTS   //
/////////////////

@import "compass/reset";
@import "compass/css3";

////////////////////
//   VARAIABLES   //
////////////////////

// COLOURS
$green: #2e9881;
$pink: #db535a;
$text: #555;
$grey: #666;

// FONTS
$pacifico: 'Pacifico', serif;
//$lilly: 'lillyregular', serif;
$source: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$open: 'Open Sans', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
/*
@font-face {
    font-family: 'lillyregular';
    src: url('../fonts/Lilly__-webfont.eot');
    src: url('../fonts/Lilly__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lilly__-webfont.woff') format('woff'),
         url('../fonts/Lilly__-webfont.ttf') format('truetype'),
         url('../fonts/Lilly__-webfont.svg#lillyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

 
/////////////////////
//   CORE STYLES   //
/////////////////////
*, *::before, *::after {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	font-family: $open;
	color: $text;
	background: lighten($green, 57%);
	font-size: 14px;
	height: 100%;
}
.body-container {
	height: auto;
	min-height: 100%;
	padding-bottom: 200px;
	margin-bottom: -200px;
}
.container {
	margin: 0 10px;
	@media (min-width: 768px) {
		margin: 0 auto;
		width: 90%;
		max-width: 1140px;
		min-width: 748px;
	}
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.row {
	@media (min-width: 768px) {
		margin-bottom: 20px;
	}
}
// 3 COLUMNS
.col-3 {
	vertical-align: top;
	margin-bottom: 20px;
	@media (min-width: 768px) {
		width: 33%;
		padding: 0 10px;
		display: inline-block;
		margin-right: -2px;
		margin-bottom: 0;
	}
}
.ee-font {
	font-family: $pacifico;
}
a {
	text-decoration: none;
	color: $text;
}
header {
	background: $green;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	nav {
		display: inline-block;
		float: right;
		clear: left;
		margin-top: 12px;
		ul {
			list-style-type: none;
			margin: 0;
			li {
				display: inline-block;
				font-weight: bold;
				padding: 8px 12px;
				color: #fff;
				border-radius: 2px;
				transition: background, color 0.2s;
				font-size: 0.95em;
				&:hover {
					color: lighten($green, 47%);
				}
			}
			.signup {
				border: 2px solid #fff;
				margin-left: 10px;
				&:hover {
					color: lighten($green, 47%);
					border-color: lighten($green, 47%);
				}
			}
		}
	}
}
.filler {
	height: 60px;
}
footer {
	background: #777;
	height: 200px;;
}
h1 {
	color: #fff;
	font-family: $pacifico;
	line-height: 1.2em;
	font-size: 3.6em;
	display: inline-block;
	@media (max-width: 410px) {
		font-size: 3.2em;
		line-height: 1.3em;
	}
}
h2 {
	font-family: $montserrat;
	font-size: 2.8em;
	margin: 0.9em 0;
	color: $grey;
	font-weight: 700;
}
h3 {
	font-family: $montserrat;
	font-size: 1.8em;
	margin-top: 1em;
}
h4 {
	font-family: $montserrat;
	font-size: 1.3em;
	margin-top: 1em;
}
p {
	margin-bottom: 1em;
}
.inline {
	display: inline-block;
	vertical-align: top;
}
input[type=text] {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 8px;
}
// BUTTONS
button {
	border: 0;
	border-radius: 2px; 
}
button.filled-red {
	padding: 6px 10px;
	background: $pink;
	color: #fff;
	@include transition(background, .2s);
	&:hover {
		background: darken($pink, 4%);
	}
	&:focus {
		outline: none;
	}
}
button.filled-green {
	padding: 6px 10px;
	background: $green;
	color: #fff;
	@include transition(background, .2s);
	&:hover {
		background: darken($green, 4%);
	}
	&:focus {
		outline: none;
	}
}
button.filled-grey {
	padding: 6px 10px;
	background: #aaa;
	color: #fff;
	@include transition(background, .2s);
	&:hover {
		background: darken(#aaa, 4%);
	}
	&:focus {
		outline: none;
	}
}
button.filled-grey.active {
	background: $green;
	&:hover {
		background: $green;
	}
}
button.outline {
	padding: 6px 10px;
	background: #fff;
	border: 1px solid $green;
	color: $green;
	text-transform: uppercase;
	@include transition(background, .2s);
	&:hover {
		color: #fff;
		background: $green;
	}
	&:focus {
		outline: none;
	}
}
button.large {
	padding: 12px 16px;
	font-size: 1.2em;
	font-family: $montserrat;
}
button:disabled {
	cursor: not-allowed;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}
.bubble 
{
	position: relative;
	padding: 10px;
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	//border: #DDD solid 1px;
}
.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent #eee;
	display: block;
	width: 0;
	z-index: 1;
	left: -12px;
	top: 40px;
}
/* If you need a border:
.bubble:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 13px 13px 13px 0;
	border-color: transparent #DDD;
	display: block;
	width: 0;
	z-index: 0;
	left: -15px;
	top: 39px;
}
*/

/////////////////////
// MAP INFO WINDOW //
/////////////////////
.info-window {
	background: url('http://lorempixel.com/300/300/cities');
	padding-top: 100px;
	.infoContainer {
		background: rgba(240,240,240,0.85);
		padding: 10px;
		h3 {
			font-weight: 700;
			margin-top: 0;
		}
		p {
			margin: 10px  0 0 0;
			font-style: italic;
		}
	}
}

@import '_stars';
@import '_index';
@import '_search';
@import '_restaurant';
@import 'signup';